
/*
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}
*/
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo del selector de color incrustado */
#color-picker {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-top: 20px;
}

/* Cuadro que muestra el color seleccionado */
#color-display {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border: 1px solid #ccc;
    display: inline-block;
}

.color-info {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.color-info div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
}