<!DOCTYPE html>
<html lang="es">
<head>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}"> 

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Genera contraseñas seguras y aleatorias de forma rápida y sencilla. Personaliza la longitud de tu contraseña y mantén tu seguridad online.">
<meta name="keywords" content="generador de contraseñas, seguridad online, contraseñas seguras, crear contraseñas, generador aleatorio">
<title>Generador de Contraseñas</title>

    
</head>
<body>
     <!-- Menú de Navegación -->
     <nav class="navbar">
        <div class="logo">Generador de contraseñas</div>
        <div class="menu-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu">
            <a href="/">Inicio</a>
            <a href="/acortador">Acortador URLS</a>
            <a href="/password">Generador de Contraseñas</a>
            <a href="/colorpicker">Selector de color</a>
            <a href="/qr">Generador QR</a>
        </div>
    </nav>

    <!-- Espacio entre el menú y la imagen -->
    <div class="spacer"></div>
    
    <!-- Imagen de cabecera -->
    <img src="{{ url_for('static', filename='images/password.jpg') }}" alt="Cabecera" class="responsive-image">

    <!-- Contenido principal -->
    <div class="container">
        <h1 class = "title">Generador de Contraseñas</h1>
        
        <p class="centered">Introduce el número de caracteres que desees para generar una contraseña segura y aleatoria.</p>
    
        
        <form method="POST">
            <label for="longitud">Tamaño de la contraseña:</label>
            <input type="number" id="longitud" name="longitud" min="1" required>
            <button type="submit">Generar Contraseña</button>
        </form>
        

        {% if contrasena %}
            <div class="resultado">
                <h2>La contraseña generada es:</h2>
                <p>{{ contrasena }}</p>
            </div>
        {% endif %}
    </div>

  
  
      <!-- JavaScript -->
      <script src="static/script.js"></script>
      <!-- Menú de navegación horizontal al final de la página -->
  
</body>
</html>